*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     /* background-image: url(images/A7409511.jpg);

    /* Position the image */
    background-position: center center; 
    
    /* Prevent the image from repeating */
    background-repeat: no-repeat; 
    
    /* This is the crucial line: it fixes the background in place */
    background-attachment: fixed; 
    
    /* Scale the background image to be as large as possible so that the background area is completely covered by the background image (no white space) */
    background-size: cover; 
    
    background-color: rgb(57, 46, 63);
    font-family: Arial, Helvetica, sans-serif, serif; /* A font stack */
}






html {
  scroll-behavior: smooth;
}


.empty-space {
    height: 10rem;
}



/* LOGO AND GRAPHIC */

.fixed-image {
    position: fixed;
    z-index: 1000; /* High value to stay above all other elements */
    max-width: 100%;
}

#img1 {
    bottom: 2%; /* Distance from bottom of screen */
    right: 2%; /* Distance from right of screen */
    width: auto;
    height: 12%;
    z-index: 1;
}

#img2 {
    top: 0%;
    left: 0%;
    width: auto;
    height: 10%;
   
}

#img3 {
    width: 140%;
    top: 0%;
    margin-left: 0%;
    margin-top: -10%;   
    position: absolute;
    z-index: 999;
    
}

#img4 {
    width: 100%;
    top: 2%;
    margin-left: 0%;   
    position: absolute;
    z-index: 99;

}

#img5 {
    width: 65%;
    height: auto;
    top: -80%;
    margin-left: 14%;   
    position: absolute;
    z-index: 99;

}



#img7 {
    position:absolute;
}

#img8 {
    
    width: 100%;
    top: 0%;
    margin-left: 0%;
    margin-top: -10%;   
    position: absolute;
    z-index: 0;

}



/* LOADER */



.loader-video {
  width: 100vw;
  object-fit: cover; /* Crops edges to fill the screen without stretching */
 
}


.spotify-player-desktop {
    display: none;
}

/* HEADER FOR PAGE TITLES */




header {
  display: block;
  font-style: normal;
  color: #d2f5f7;
  font-family: "Silkscreen", sans-serif;
  font-size: 9rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 30%;
  

}

h1 {
  display: block;
  font-style: normal;
  color: #d2f5f7;
  font-family: "Silkscreen", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  
}



/* HEADER CONTAINER W/ VIDEO AND TV */


#main-page {
    display: none;
    margin-bottom: 25%;
}
  

  .floating-arrow {
    position:absolute;
    top: 90%;
    left: 5%;
    margin: 0 auto;
    
  }

   #arrow1 {
    position: relative;
    color: #4400ff;
    font-size: 7rem;
    z-index: 101;
  }

  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }
  
  .bounce {
    animation: 1s infinite alternate bounce;

  }



    /* Layered Video Players */


     /* Stack both players exactly on top of each other */
    .video-container-layered {
        position: relative;
        background: rgba(0, 0, 0, 0);
      
        
    }
    .video-layer {
        position: absolute;
        width: 70%;
        height: auto;
        border: ghostwhite;
        border-radius: 5%;
        margin-top: -28%;
        margin-left: 15%;

        
    }
    /* Smooth opacity transitions or instant toggles */
    .visible { opacity: 1; z-index: 2; }
    .hidden { opacity: 0; z-index: 1; }


  /* MAIN SECTION LINKS */

  .main-section {
    margin-top: 8%;
  }


  .beneath-tv {
    margin-top: 80%;
  }

  /* SOCIAL LINKS */

 .social-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0%;
    width: 100%;
    margin-top: -12%;
    z-index: 1001;
  
    
    
    
}

.social-links div {
    display: flex;
    flex-direction: row;
    margin-top: 13%;
  
    
    
   
}

.social-button {
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    /* background-color: #bb2727;  Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    background-color: #581355;
    text-decoration: none; /* Removes default underline from links */
    /* border-radius: 10rem; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    border-style: outset;
    cursor: pointer; /* Ensures it looks clickable */
    max-width: 100%;
    /* border-style: groove;*/
    font-size: 800%;
    margin-top: 20%;
    margin-bottom: 50%;
    border-radius: 10%;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
   
}

.social-button:hover {
    background-color: #581355; /* Darker background on hover */
}

/* PORTALS */

.portals {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: space-between;
    margin-bottom: 10%;
    margin-top: 0%;
    z-index: 0;
}

.portals div {

    width: 46%;
    margin: 2%;
}

.portal-button {
     font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
 
   
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    background-color: #581355;

    /* background-color: #ce2d6f; /* Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 35%;
    font-size: 450%;
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    border-style: inset;
    width: 100%; 
    padding: 5%;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
    /* animation-iteration-count: infinite;  repeats forever */ 
    
}

/* Old Pulse Animation - Unused */

@keyframes pulse-glow {
  from {
    box-shadow: 0 0 5px #75faff, 0 0 10px #75faff;
  }
  to {
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
  }
}


/* BANDCAMP EMBED */


.bandcamp-links {
    margin-top: 30%;
    margin-bottom: 20%;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
   
}

.background-record {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    width: 0 auto;
}

.bandcamp-embeds {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
}

.vampire-dreams {
    margin-top: -20%;
    margin-left: 5%;
}

.honey-sweet {
    margin-top: 42%;
    margin-left: 0;
}

.bandcamp-artist {
    display: flex;
    margin-bottom: 50%;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    max-width: 20%;
    position: relative;
    margin-left: 2%;
    margin-top: 8%;
    
 
}

.bandcamp-artist div {

    padding: 0px;
    font-size: 10rem;
    width: 100%; 
    height: 50%;
    max-width: 100%;
}


/* BANDSINTOWN EMBED */

.bandsintown-segment {
    margin-top: 25%
}





.spotify-player {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 30%;
    margin-bottom: 20%;
}


.mal-instagram {
    font-size: 3rem;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
}




/* LISTEN PAGE */

.listen-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* LISTEN PAGE - STREAMING LINKS */


.listen-image {
    width: 80%;
   
}

.streaming-links {
    display: flex;
    margin-top: 0;
    margin-bottom: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
           
    }

.streaming-links div {
            
    margin: 0 auto;
    padding: 0px;
    font-size: 5rem;
    width: 100%; 
    height: 50%;
    max-width: 100%;
    
        
    }

.icon-button {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    width: 100%;
    background-color: #581355; /* Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 0; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    margin: 4%;
    max-width: 90%;
    border-style: groove;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
    margin-bottom: 10%;

    
}

.icon-button i {
    margin-right: 8px; /* Adds space between the icon and text */
}

.icon-button:hover {
    background-color: #000000; /* Darker background on hover */
}

.icon-button2 {
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    width: 100%;
    background-color: #4400ff; /* Button background color */
    background-size: 100%;
    color: white; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 10rem; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    max-width: 100%;
    border-style: groove;
}

.icon-button2:hover {
    background-color: #000000; /* Darker background on hover */
}

.empty-space1 {
    height: 80%;

}

/* VIDEOS Page */


.YT-Header {
    text-align: center;
    font: times;
    font-size: 400%;
    color: #4d21c7;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 42%;
    margin-left: 8%;

}

.video-container {
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    margin-top: 90%;
   /* background-image: url(images/Vintage\ TV.png); */
     /* Position the image */
    background-position: center center; 
    
    /* Prevent the image from repeating */
    background-repeat: no-repeat; 
    
    /* This is the crucial line: it fixes the background in place */
   
    
    /* Scale the background image to be as large as possible so that the background area is completely covered by the background image (no white space) */
    background-size: cover; 
  
    
}

.video-container img {
    z-index: 100;
}

.video-container iframe {
    aspect-ratio: 1 / 0.75;
    position: absolute;
    margin-top: 13%;
    left: 10.5%;
    width: 65%;
    height: auto;
    border-radius: 12%;
    z-index: 101;
    border-color: transparent;
    
}

.youtube-artist {
    display: flex;
    margin-top: -20%;
    margin-bottom: 50%;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    max-width: 20%;
    position: relative;
    margin-left: 2%;
    
}

.youtube-artist div {
    margin: 0 auto;
    padding: 0px;
    font-size: 10rem;
    width: 100%; 
    height: 50%;
    max-width: 100%;
}










 /* Scale the background image to be as large as possible so that the background area is completely covered by the background image (no white space) 

.slideshow {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem
      hsla(0, 0%, 0%, 0.25);
    border-radius: 5%;
}
.slide {
    width: 80%;
}

.slideshow.buttons {
    display: flex;
    justify-items: center;
    width: 20%;
}

*/


/* PHOTOS PAGE */


.pswp__custom-caption {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: rgba(125, 24, 241, 0.582);
  color: #fff;
  font-size: 2rem;
  border-radius: 10%;
  max-width: 80%;
  text-align: center;
  z-index: 10;
  pointer-events: none; /* Allows clicking through the caption to close/pan */
}







/* old slideshow */

.gallery {
    display: flex;
    max-width: 100%;
    width: 152px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}






/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 10rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #6214e0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* CONTACT PAGE */

.contact-info {
    display: flex;
    justify-content: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-top: 10%;
}

.contact-button {
    color: #b33b3b; 
    margin:10%;

}



.mal-contact {
    width: 100%;
    margin-top: 20%;
    margin-bottom: -20%;
}

.mal-instagram {
    margin-top: -8%;
}

/* MAIN PAGE BUTTON */

   .mainpage-link {
        display: flex;
        
     
       
   
}

    .mainpage-button {
        font-family: "Sixtyfour", sans-serif;
        display: inline-flex; /* Allows icon and text to align nicely */
        align-items: center; /* Vertically centers the items */
        justify-content: center; /* Centers items horizontally */
        background-color: #00000070; /* Button background color */
        background-size: 90%;
        color: white; /* Text and icon color */
        text-decoration: none; /* Removes default underline from links */
        font-weight: bold; /* Makes text bold */
        font-size: 200%;
        transition: background-color 0.3s; /* Smooth hover effect */
        cursor: pointer; /* Ensures it looks clickable */
        border-style: inset;
        width: fit-content; 
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        border-radius: 2%;
        border-color:rgb(88, 11, 133);
        margin-top: 20%;
}


.desktop-disclaimer {
    display: none;
}





/* DESKTOP VERSION */


@media screen and (min-width: 1024px) {

 /* HEADER CONTAINER W/ VIDEO AND TV */
 
.loader-video {
  display: flex;  
  width: 300%;
  justify-content: center;
  
 
}

.fixed-image {
    position: fixed;
    z-index: 1000; /* High value to stay above all other elements */
    max-width: 100%;
}



#img8 {
    
    width: 100%;
    top: 0%;
    margin-left: 0%;
    margin-top: -10%;   
    position: absolute;
    z-index: -100;

}



/* Layered Video Players */


.header-box {
    display: block;

}

     /* Stack both players exactly on top of each other */
    .video-container-layered {
        position: relative;
        background: rgba(0, 0, 0, 0);
      
        
    }
    .video-layer {
        position: absolute;
        width: 70%;
        height: auto;
        border: ghostwhite;
        border-radius: 5%;
        margin-top: 30%;
        margin-left: 15%;

        
    }
    /* Smooth opacity transitions or instant toggles */
    .visible { opacity: 1; z-index: 2; }
    .hidden { opacity: 0; z-index: 1; }


  /* MAIN SECTION LINKS */

  .main-section {
    margin-top: 8%;
  }




.main-section {
    display: flex;
    flex-direction: row;
}

.tv-plus-social-links {
    margin-top: -20%;
    display: flex;
    flex-direction: column;
}


.header-box {
    position: relative; /* Container acts as anchor */
    z-index: 100;
    margin: 5%;
    margin-top: 40%;
  }


  .spotify-player-desktop {
    display: block;
    justify-content: end;
    position: fixed;
    z-index: 2000; /* High value to stay above all other elements */
    max-width: 100%;
    top: 2%; /* Distance from bottom of screen */
    right: 2%; /* Distance from right of screen */
}
  
  /* MAIN SECTION */

  .main-section {
    margin-top: 22%;
  }


  /* SOCIAL LINKS */

 .social-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0%;
    width: 100%;
    margin-top: -40%;
    z-index: 1001;
  
}

.social-links div {
    display: flex;
    flex-direction: row;
    margin-top: 13%;
}

.social-button {
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    /* background-color: #bb2727;  Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    background-color: #581355;
    text-decoration: none; /* Removes default underline from links */
    /* border-radius: 10rem; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    border-style: outset;
    cursor: pointer; /* Ensures it looks clickable */
    max-width: 100%;
    /* border-style: groove;*/
    font-size: 400%;
    margin-top: 20%;
    margin-bottom: 50%;
    border-radius: 10%;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
   
}

.social-button:hover {
    background-color: #581355; /* Darker background on hover */
}


 /* Layered Video Players */


     /* Stack both players exactly on top of each other */
    .video-container-layered {
        position: relative;
        background: rgba(0, 0, 0, 0);
      
        
    }
    .video-layer {
        position: absolute;
        width: 70%;
        height: auto;
        border: ghostwhite;
        border-radius: 5%;
        margin-top: -28%;
        margin-left: 15%;

        
    }
    /* Smooth opacity transitions or instant toggles */
    .visible { opacity: 1; z-index: 2; }
    .hidden { opacity: 0; z-index: 1; }


    
#img3 {
    width: 140%;
    top: 0%;
    margin-left: 0%;
    margin-top: -78%;   
    position: absolute;
    z-index: 999;
    
}

/* PORTALS */

.portals {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: space-between;
    margin-bottom: 10%;
    margin-top: -5%;
    z-index: 0;
}

.portals div {

    width: 25%;
    margin: 2%;
}

.portal-button {
     font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
 
   
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    background-color: #581355;

    /* background-color: #ce2d6f; /* Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 35%;
    font-size: 200%;
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    border-style: inset;
    width: 100%; 
    padding: 5%;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
    /* animation-iteration-count: infinite;  repeats forever */ 
    
}

/* Old Pulse Animation - Unused */

@keyframes pulse-glow {
  from {
    box-shadow: 0 0 5px #75faff, 0 0 10px #75faff;
  }
  to {
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
  }
}


.desktop-disclaimer {
    display: block;
}


.the-booth {
    display: none;
}


/* BANDCAMP EMBED */


.bandcamp-links {
    margin-top: 30%;
    margin-bottom: 20%;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
   
}

.background-record {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    width: 0 auto;
}

.bandcamp-embeds {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
}

.vampire-dreams {
    margin-top: -20%;
    margin-left: 5%;
}

.honey-sweet {
    margin-top: 42%;
    margin-left: 0;
}

.bandcamp-artist {
    display: flex;
    margin-bottom: 50%;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    max-width: 20%;
    position: relative;
    margin-left: 2%;
    margin-top: 8%;
    
 
}

.bandcamp-artist div {

    padding: 0px;
    font-size: 10rem;
    width: 100%; 
    height: 50%;
    max-width: 100%;
}


.mal-contact {
    margin-top: 20%;
    font-size: 1rem;
    display: none;
}


/* LISTEN PAGE */

.listen-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: -6%;
}

/* LISTEN PAGE - STREAMING LINKS */


.listen-image {
    width: 40%;
   
}

.streaming-links {
    display: flex;
    margin-top: 0;
    margin-bottom: 0%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
           
    }

.streaming-links div {
            
    margin: 0 auto;
    padding: 0px;
    font-size: 5rem;
    width: 40%; 
    height: 50%;
    max-width: 100%;
    
        
    }

.icon-button {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    width: 100%;
    background-color: #581355; /* Button background color */
    background-size: 100%;
    color: #bde3fc; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 0; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    margin: 4%;
    max-width: 90%;
    border-style: groove;
    box-shadow: 0 0 20px #75faff, 0 0 40px #75faff, 0 0 60px #ae21ff;
    animation-name: pulse-glow;
    animation-duration: 10s;
    margin-bottom: 10%;

    
}

.icon-button i {
    margin-right: 8px; /* Adds space between the icon and text */
}

.icon-button:hover {
    background-color: #000000; /* Darker background on hover */
}

.icon-button2 {
    display: inline-flex; /* Allows icon and text to align nicely */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Centers items horizontally */
    width: 100%;
    background-color: #4400ff; /* Button background color */
    background-size: 100%;
    color: white; /* Text and icon color */
    text-decoration: none; /* Removes default underline from links */
    border-radius: 10rem; /* Adds rounded corners */
    font-weight: bold; /* Makes text bold */
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer; /* Ensures it looks clickable */
    max-width: 100%;
    border-style: groove;
}

.icon-button2:hover {
    background-color: #000000; /* Darker background on hover */
}






}
